<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAwaitBestPractices" version="6.0.4" targetFramework="net472" />
  <package id="AsyncAwaitBestPractices.MVVM" version="6.0.4" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net472" />
  <package id="gong-wpf-dragdrop" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLog" version="4.7.13" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.13" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.13" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>