<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAwaitBestPractices" version="3.0.0" targetFramework="net462" />
  <package id="AsyncAwaitBestPractices.MVVM" version="3.0.0" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net462" />
  <package id="gong-wpf-dragdrop" version="2.0.1" targetFramework="net462" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="NLog" version="4.6.4" targetFramework="net462" />
  <package id="NLog.Config" version="4.6.4" targetFramework="net462" />
  <package id="NLog.Schema" version="4.6.4" targetFramework="net462" />
  <package id="SharpDX" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net462" />
</packages>